
@media screen and (max-width: 1366px) {

  body{
      overflow-x: hidden;
  }


    

    .bbb{
        position: absolute;
        left: 135px;
    }


      body{
          overflow-x: hidden;
      }
    .nnn{
        position: absolute;
        left: 435px;
    }

    .lll{
        position: absolute;
        left: 735px;
    }


    .ppp{
        position: absolute;
        left: 1035px;
    }

    .nin{
        position: absolute;
        left: 80px;
    }


    .infom{
        margin-left: 30px;
    }


    .source{
        position: absolute;
        left: 540px;
    }
}

@media screen  and (max-width: 1024px) {

   body{
       overflow-x: hidden;
   }    
   

  .nav-background{
      width: 1350px;
      
  }



  .track{
      padding-left: 80px;
      width: 200px;
  }

  .case{
      margin-left: 80px;
      width: 1200px;
  }

  .frame-background{
      margin-left: 80px;
      width: 1200px;
  }

  .bang h4{
      margin-left:80px ;
      width: 00px;
      font-size: 25px;
  }

  .bano{
      margin-left: 80px;
  }

  .info-background{
      margin-left: 80px;
      width: 1200px;
  }

  .footer-background{
    width: 1350px;
  }
}

@media screen and (max-width: 500px) {

     body{
         overflow-x: hidden;
     }



    .covid{
        margin-left: -40px;
        font-size: 90px;
        margin-top: 50px;
    }

    .btn{
        width: 1150px;
        height: 150px;
        margin-left: -100px;
        text-align: center;
        padding-top:35px;
        font-size: 50px;
    }

    .ul{
        display: none;
    }

    .svg svg{
        margin-left: -140px;
        width: 200px;
        height: 130px;
        margin-top: 40px;
    }

    .navbar{
        display: block;
    }

   .nav-background{
       width: 1590px;
       height: 400px;
   }

 .total{
   display: block;
   padding-top: 30px;
 }

 .track{
     padding-top: 400px;
    font-size: 60px; 
    width: 700px;

 }

 .case{
     margin-top: 70px;
     height: 2700px;
 }

 .card{
    background: #E5E5E5;
     width: 999px;
     height: 400px;
     margin-left: 80px;
     margin-top: 90px;
     padding-top: 80px;
 }

 .card-one{
    background: #F399110D;
    width: 999px;
    height: 400px;
    margin-left: 80px;
    margin-top: 220px;
    padding-top: 80px;
 }
 .card-two{
    background: #16B4420D;
    width: 999px;
    height: 400px;
    margin-left: 80px;
    margin-top: 220px;
    padding-top: 80px;
 }

 .card-three{
    background: #AA2A2A0D;
    width: 999px;
    height: 400px;
    margin-left: 80px;
    margin-top: 220px;
    padding-top: 80px;
 }

 .tot{
   font-size: 58px;
 }

 .pom{
     font-size: 95px;
 }

 .pon{
     font-size: 35px;
 }
 
 .tot{
    font-size: 58px;
  }
 

  .act{
 font-size: 58px;
  }

  .app{
      font-size: 95px;
  }
 
  .apo{
      font-size: 35px;
  }

  .elem{
    font-size: 58px;
  }
 
  .elo{
      font-size: 95px;
  }
 
  .eli{
      font-size: 35px;
  }

  .kid{
    font-size: 58px;
  }
 
  .kido{
      font-size: 95px;
  }
 
  .mapo{
      font-size: 35px;
  }

  .bbb{
      position: absolute;
      top: 650px;
      left: 370px;
      width: 600px;
      height: 600px;
  }

  .nnn{
    position: absolute;
    top: 1300px;
    left: 370px;
    width: 600px;
    height: 600px;
}


.lll{
    position: absolute;
    top: 1950px;
    left: 370px;
    width: 600px;
    height: 600px;
}
  
.ppp{
    position: absolute;
    top: 2610px;
    left: 370px;
    width: 600px;
    height: 600px;
}
  
.nin{
    position: absolute;
    top: 3450px;
    width: 600px;
    height: 600px;

}
  
.frame-background{
    margin-top: 150px;
}

/* frame */

.frame-background{
    height: 1950px;
}

.usa{
    display: block;
}


.moop svg{
    display: none;
}


.italy{
    position: relative;
    top: 980px;
    font-size: 45px;
    margin-left: -320px;

}

.frame h1{
    font-size: 86px;
    padding-left: 50px;
}

.frame p{
    font-size: 45px;
    padding-left: 60px;
}

.info-content{
    margin-top: 500px;
}

.fran h3{
    font-size: 70px;
}



.fran{
    margin-top: 30px;
    width: 1050px;
    height: 800px;
    /* padding: 20px; */
}
.gabon svg{
  width: 200px;
  height: 70px;
}

.gab{
    margin-left: -50px;
}

.gabon{
    padding-top: 20px;
}

.gabon h4{
  font-size: 60px;  
  line-height: 2.5;
}

.gabon p{
   font-size: 70px; 
  padding-left: 340px;
  padding-top: 60px;
}

.nopp{
    margin-top: 150px;
    display: flex; 
}


.gop h3 {
  padding-top: 70px;
  font-size: 50px;
}

.gop p{
    font-size: 65px;
}


.ghg{
    margin-top: -150px;
}

.hnd{
 margin-top:-120px ;   
}

.gop{
    width: 350px;
    height: 250px;
}


/* info */

 .kipoo svg {
     display: none;
 }

 .infom{
   margin-top: -250px; 
 }
 
 .infom h1{
     font-size: 90px;
     width: 1400px;
 }

 .infom h3{
   padding: 35px;
   font-size: 50px;
   width: 650px;
   height: 130px;
 }

 .fomot p {
     padding-top: 20px;
     font-size: 35px;
     width: 1100px;
     line-height: 1.9;
 }

 /* info */


 .info-content{
     display: block;
 }

  .info-background{
      margin-top: 850px;
      height: 3600px;
  }


.content-info svg{
    margin-left: 170px;
    width: 800px;
    height: 900px;
} 


 

 .infot h1{
     font-size: 100px;
     padding-left: 70px;
     width: 900px;
     height: 200px;
 }

 .fomot h1{
     font-size: 20px;
 }

 .infot p{
     padding-top: 330px ;
     font-size: 50px;
     padding-left: 100px;
     width: 900px;
     line-height: 1.9;
 }

 .fomot h1{
     margin-top: 90px;
    font-size: 70px;
 }

 .madam{
    margin-left: 90px;
    
 }

 .king{
    padding: 35px;
    width: 310px; 
    height: 330px;
 }

 .moth{
    padding: 35px;
    width: 310px; 
    height: 330px;
 }

 .mother{
    padding: 35px;
    width: 310px; 
    height: 330px;
 }

 .mother{
    padding: 35px;
    width: 310px; 
    height: 330px;
 }


 .mother svg{
   font-size: 50px;
 }

 .mother{
     padding: 35px;
    width: 310px; 
    height: 330px;
 }

 .mother p{
    margin-left: -70px ;
    margin-top: -250px;
    font-size: 25px; 
 }

 .king p{
     margin-left: -70px ;
    margin-top: -250px;
     font-size: 25px;
 }

 .moth p{
     margin-left: -70px ;
     font-size: 25px;
     margin-top: -250px;
 }


  .content-foot{
      display: block;
  }


.footer-background{
    height: 1800px;
    width: 1590px;
}


.footer {
    
    
}


 .footer  h1  {
     font-size: 75px;
     padding-top: 60px;
    margin-left: 10px;
}

.footer svg{
    margin-left: 180px;
    width: 100px;
    height: 90px;
}

.footer h2{
    font-size: 65px;
  margin-left: 200px;
}

.footer p{
    margin-left: -50px;
    line-height: 1.5;
    width: 1100px;
    font-size: 57px;
    /* margin-left: 0px; */
  }

  .useful {
    padding-left: -70px;  
  }

  .useful h1{
    padding-top: 380px;
    font-size: 75px;
    margin-left: 60px; 
  }

  .useful p{
      line-height: 1.5;
      width: 600px;
     font-size: 48px;

   
  }


  .number h1  {
      margin-left: -120px;
      margin-top: 350px;
      font-size: 75px;
     
  }

   .number  p{
       font-size: 50px;
    margin-left: -50px; 
   }



     .source{
         width: 650px;
         height:650px ;
        margin-top: 250px;
        margin-left: -270px;
     }


  
}

@media screen and (max-width: 360px) {
    .frame-background{
        width: 1140px;
    }

    

    body{
        overflow-x: hidden;
    }
    .case{
        width: 1140px;
    }

    .bang-background{
        width: 1140px;
    }

    .info-background{
        width: 1140px;
    }
}