
@media screen and (max-width: 1366px) {

  body{
      overflow-x: hidden;
  }


    

    .bbb{
        position: absolute;
        left: 135px;
    }


      body{
          overflow-x: hidden;
      }
    .nnn{
        position: absolute;
        left: 435px;
    }

    .lll{
        position: absolute;
        left: 735px;
    }


    .ppp{
        position: absolute;
        left: 1035px;
    }

    .nin{
        position: absolute;
        left: 80px;
    }


    .infom{
        margin-left: 30px;
    }


    .source{
        position: absolute;
        left: 540px;
    }
}

@media screen  and (max-width: 1024px) {

    
    
   body{
       overflow-x: hidden;
   }

  .nav-background{
      width: 1350px;
      
  }



  .track{
      padding-left: 80px;
  }

  .case{
      margin-left: 80px;
      width: 1200px;
  }

  .frame-background{
      margin-left: 80px;
      width: 1200px;
  }

  .bang h4{
      margin-left:80px ;
      width: 00px;
      font-size: 25px;
  }

  .bano{
      margin-left: 80px;
  }

  .info-background{
      margin-left: 80px;
      width: 1200px;
  }

  .footer-background{
    width: 1350px;
  }
}

@media screen and (max-width: 411px) {

    .covid{
        font-size: 90px;
        margin-top: 50px;
    }

    .btn{
        width: 1150px;
        height: 150px;
        margin-left: 40px;
        text-align: center;
        padding-top:35px;
        font-size: 50px;
    }

    .ul{
        display: none;
    }

    .svg svg{
        width: 200px;
        height: 130px;
        margin-top: 40px;
    }

    .navbar{
        display: block;
    }

   .nav-background{
       height: 400px;
   }

 .total{
   display: block;
   padding-top: 30px;
 }

 .track{
     padding-top: 400px;
    font-size: 60px; 
    width: 600px;

 }

 .case{
     margin-top: 70px;
     height: 2700px;
 }

 .card{
    background: #E5E5E5;
     width: 999px;
     height: 400px;
     margin-left: 80px;
     margin-top: 120px;
     padding-top: 80px;
 }

 .card-one{
    background: #F399110D;
    width: 999px;
    height: 400px;
    margin-left: 80px;
    margin-top: 250px;
    padding-top: 80px;
 }
 .card-two{
    background: #16B4420D;
    width: 999px;
    height: 400px;
    margin-left: 80px;
    margin-top: 250px;
    padding-top: 80px;
 }

 .card-three{
    background: #AA2A2A0D;
    width: 999px;
    height: 400px;
    margin-left: 80px;
    margin-top: 250px;
    padding-top: 80px;
 }

 .tot{
   font-size: 58px;
 }

 .pom{
     font-size: 95px;
 }

 .pon{
     font-size: 35px;
 }
 
 .tot{
    font-size: 58px;
  }
 

  .act{
 font-size: 58px;
  }

  .app{
      font-size: 95px;
  }
 
  .apo{
      font-size: 35px;
  }

  .elem{
    font-size: 58px;
  }
 
  .elo{
      font-size: 95px;
  }
 
  .eli{
      font-size: 35px;
  }

  .kid{
    font-size: 58px;
  }
 
  .kido{
      font-size: 95px;
  }
 
  .mapo{
      font-size: 35px;
  }

  .bbb{
      position: absolute;
      top: 650px;
      left: 370px;
      width: 600px;
      height: 600px;
  }

  .nnn{
    position: absolute;
    top: 1300px;
    left: 370px;
    width: 600px;
    height: 600px;
}


.lll{
    position: absolute;
    top: 1950px;
    left: 370px;
    width: 600px;
    height: 600px;
}
  
.ppp{
    position: absolute;
    top: 2610px;
    left: 370px;
    width: 600px;
    height: 600px;
}
  
.nin{
    position: absolute;
    top: 3400px;
    width: 600px;
    height: 600px;

}
  
.frame-background{
    margin-top: 150px;
}

/* frame */

.frame-background{
    height: 1950px;
}

.usa{
    display: block;
}


.moop svg{
    display: none;
}


.italy{
    position: relative;
    top: 980px;
    font-size: 45px;
    margin-left: -320px;

}

.frame h1{
    font-size: 86px;
    padding-left: 50px;
}

.frame p{
    font-size: 45px;
    padding-left: 60px;
}

.info-content{
    margin-top: 500px;
}

.fran h3{
    font-size: 70px;
}



.fran{
    margin-top: 30px;
    width: 1050px;
    height: 800px;
    /* padding: 20px; */
}
.gabon svg{
  width: 200px;
  height: 70px;
}

.gab{
    margin-left: -50px;
}

.gabon{
    padding-top: 20px;
}

.gabon h4{
  font-size: 60px;  
  line-height: 2.5;
}

.gabon p{
   font-size: 70px; 
  padding-left: 340px;
  padding-top: 60px;
}

.nopp{
    margin-top: 150px;
    display: flex; 
}


.gop h3 {
  padding-top: 70px;
  font-size: 50px;
}

.gop p{
    font-size: 65px;
}


.ghg{
    margin-top: -150px;
}

.hnd{
 margin-top:-120px ;   
}

.gop{
    width: 350px;
    height: 250px;
}


/* info */

 .kipoo svg {
     display: none;
 }

 .infom{
   margin-top: -250px; 
 }
 
 .infom h1{
     font-size: 90px;
     width: 1400px;
 }

 .infom h3{
   padding: 20px;
   font-size: 50px;
   width: 600px;
   height: 120px;
 }

 .fomot p {
     padding-top: 20px;
     font-size: 35px;
     width: 1100px;
     line-height: 1.9;
 }

 /* info */


 .info-content{
     display: block;
 }

  .info-background{
      margin-top: 790px;
      height: 2300px;
  }


.content-info svg{
    margin-left: 170px;
    width: 800px;
    height: 900px;
} 


 .footer-background{
     margin-top: 900px;
 }

 .infot h1{
     font-size: 120px;
     padding-left: 100px;
     width: 1200px;
     height: 200px;
 }

 .fomot h1{
     font-size: 20px;
 }

 .infot p{
     padding-top: 330px ;
     font-size: 50px;
     padding-left: 100px;
     width: 900px;
 }

}